<h1>7s, 11s, & Doubles</h1>

<h2> A simple, fast-paced game where, if unlucky (or you suck at chugging), leads to intoxication.</h2>

<h3>Overview</h3>
<p> Very easy to understand drinking game. Chugging skills do come into play here as does luck.</p>

<h4>Teams</h4>
<p> No teams. </p>

<h4>Playing field</h4>
<p> Can be played anywhere dice can be rolled effectively.</p>

<h4>Supplies</h4>
<p> Dice.</p>

<h4>Alcohol</h4>
<p> We recommend a light beer, as fits of chugging are very real.</p>

<h2>Game Rules</h2>
<p> A beer or glass is filled and placed in the middle of the playing field. The first person to start rolls both dice. If either
a 7, 11, or a double is rolled, choose another player to drink. If none of these are rolled, pass the dice to the left.
  When a player is chosen to drink, when ready, the drinker will effectively try to finish the communal drink before the roller
can successfully roll another 7, 11, or double (roll as many times and as fast as you can to achieve this.) If the drinker finishes their drink before
  the roller can roll a 7, 11 or double, the drinker now gets the dice and the game starts over. If the roller gets a 7, 11, or double while the drinker is still chugging,
  that drinker must fill up the rest of their cup and try again.</p>

<h3>Penalties</h3>
<p> If a drinker has been chosen and the roller grabs the dice before the drinker picks up their glass, roles are reversed.</p>

<h3> Game Variations </h3>
<h4>No sympathy</h4>
<p> Given a roller and drinker have been established, if the drinker fails to beat the roller, the drinker must finish the beverage
before it is reset.</p>
<h4>Sympathy</h4>
<p> Another player may butt-in at any point and take over for the drinker to try to beat the active roller. If the player that butt-in
successfully beats the roller, the roller automatically becomes the drinker.</p>
