<h1> Avalanche (Also known as 'Three')</h1>
<h2> A dice game for the gamblers out there.</h2>

<h3>Overview</h3>
<p> Bet with drinks. Your bankroll is your alcohol tolerance.</p>

<h4>Teams</h4>
<p>There are no teams.</p>

<h4>Playing field</h4>
<p>Anywhere you can comfortably roll dice.</p>

<h4>Supplies</h4>
<p>Dice(1) & Community Cup.</p>

<h4>Alcohol</h4>
<p>Beer of choice (we recommend all players use the same).</p>

<h2>Game Rules</h2>
<p> Play goes counter-clockwise. The first player adds some of their beer before picking up the die to roll. The player can add as little
  or as much to the game glass as they wish. Keep in mind, this player may very well end up having to drink it all.
</p>
The results of the die are as follows:
<ul> 1. Nothing happens, pass the die.</ul>
<ul> 2. The player doubles the amount they originally added to the cup or fills it (whichever is less). Play passes to the next person.</ul>
<ul> 3. Current player drinks the cup.</ul>
<ul> 4. Current player yells "floor." Last person to point down drinks the cup.</ul>
<ul> 5. Roll again. If another 5 is rolled, the player can select any other player to drink the cup.</ul>
<ul> 6. Nothing happens, pass the die.</ul>

<p>After someone is selected to drink, a new round immediately starts with the next person.</p>


<h3>How to Win</h3>
<p>Each player has three lives. Having to drink the cup takes away 1 life. If the die comes back to the drinker before they finish
their cup, they automatically lose their remaining lives. Last player left wins.</p>

<h3>Game Variations</h3>
<h4>High Rollers</h4>
<p> The community glass is simply replaced with a pitcher. Don't say I didn't warn you.</p>

