<h1>Baseball</h1>

<%= image_tag "baseballdemo.jpg" %>

<h2> Quite possibly the best game ever. After all, it's America's pastime..</h2>

<h3>Overview</h3>
<p> A combination of <%= link_to('Flip Cup') do %> Flip Cup <% end %> and Beer Pong. This game consists of two teams battling 9 innings
in a game of excessive beer drinking.</p>


<h4>Teams</h4>
<p>Teams usually consist of the same number of players on each side, although, an odd number of players can be used.
  The important thing here is the batting order. Whomever is next up at bat persists through innings. </p>

<h4>Playing field</h4>
<p>Best played on either a ping-pong table or a long narrow table.</p>

<h4>Supplies</h4>
<p>You will need at least one ping-pong ball and 10 plastic cups.</p>

<h4>Alcohol</h4>
<p>We recommend a light beer, as the fast paced nature of the game and the amount of consumption is very high.</p>

<h2>Game Rules</h2>
<p>Game play is very similar to a game of beer pong. The team that is up has its first batter shoot the ball until they
  get on base or get out, at which point the 2nd batter will shoot. The batting order continues in a cycle until the team
  gets three outs, at which point, the other team gets their chance at bat. <b>Keep track of outs, innings, and score
  with pen and paper, as differences in opinion are sure to come with this much drinking!</b>

  <h2>To start</h2>
<p> The first person at bat shoots at the line of 4 cups. If the 1st batter makes it in a cup the opposing team must consume
  that cup and all cups below it, e.g. the third cup is sank (a triple) so the third, second and first cup are consumed. The cups
  are refilled and placed back in formation. It would now be the 2nd person up to bat to shoot.
  <h3>How runs are scored</h3>
  Let's reference the previous example (a runner on 3rd.)
<ul>
 <li>If the 2nd batter gets out - There is 1 out, a runner on 3rd, and it is the next batter in the rotation's chance to shoot.</li>
 <li>If the 2nd batter makes it to 1st base (sinks the cup closest to you) - There is now a runner on 1st and 3rd, and it is the next batter's shot.</li>
 <li>If the 2nd batter makes it to 2nd base - There is now a runner on 2nd and 3rd, and is the next batter's shot.</li>
 <li>If the 2nd batter makes it to 3rd base - The first batter automatically runs home, so there is a runner on 3rd, and your team scores 1 point.</li>
- Even if the first batter had been on 1st, and the second batter sinks the 3rd cup, the first batter would still automatically run home and score.<br>
- If the first batter had been on 1st, and the second batter sinks the 2nd cup, the first batter goes to 3rd (1+2) and the second batter remains on 1st base.</br>
 <li>If the 2nd batter shoots it in the furthest cup (homerun) - Every runner currently on a base scores, including the shooter.</li>
</ul>

<h3> How a player gets out</h3>
<ul>
  <li> If the shooter does not hit a cup (note: the shooter doesn't have to sink it, just hit the cup) that shooter is out.</li>
  <li> If the shooter does hit a cup (again, not sink it), the opposing team has a chance to catch the ball before it hits the ground or table.</li>
  - If the opposing team catches the ball, that shooter is then out. <br>
  - If the opposing team doesn't catch the ball, that shooter has one strike. </br>
  <li> If the shooter acquires three strikes, that shooter is out.</li>
  <li> If a runner on base attempts to steal, and loses the game of Flip Cup, that player is out.</li>
</ul>

<h3> Stealing bases</h3>
<ul>
  <li> A player can only steal a base if they are currently on a base. </li>
  <li> That player that wishes to steal, can sneakily start chugging the designated flip cup beer to the left of them, before attempting to successfully flip it. <br>
    - Any one player on the opposing team should start chugging the flip cup beer as soon as they see someone trying to steal and battle in a 1v1 flip cup match.</br>
    <li>If the player stealing wins, they move on to the next base. However, if they lose, that counts as an out, and the person stealing is no longer on base.</li>
  <li>For fairness (which is debatable,) don't attempt to steal a base if the opposing team is drinking or filling up beer from another batter's shot.</li>
</ul>
