<h1> Bullshit</h1>
<h2> You better be good at bluffing..</h2>

<h3>Overview</h3>
<p> Be the first person to get rid of your cards, . Be the last person to get rid of their cards,
  become an <b>asshole</b>.</p>

<h4>Teams</h4>
<p>There are no teams.</p>

<h4>Playing field</h4>
<p>Anywhere you can comfortably sit.</p>

<h4>Supplies</h4>
<p>Cards.</p>

<h4>Alcohol</h4>
<p>Beer of choice (we recommend light beer).</p>

<h2>Game Rules</h2>
All cards are dealt out clockwise, one at a time, starting with the loser of the last game(asshole.)
<p> <%= image_tag "2heart.png" %>
</p>

<h3>Game variations</h3>
<h4>Boss Battles</h4>
<p> This variation involves hard liquor, where the player must fight a boss (take a shot) after reaching certain levels (usually every
  five beers.) Ideally you want several different types of liquor to face different bosses- bosses being represented by those type of liquor.
</p>

<h4> Battle Wizards</h4>
<p> This version involves physicality. After reaching wizard status, the players attempt to break the others wizards staff in a duel. The victor
  becomes the wisest wizard.</p>

