<h1>Civil War</h1>

<h2> A ridiculous take off of beer pong that will probably end in a fight.</h2>

<h3>Overview</h3>
<p> This game is similar to beer-pong but with less rules and more insanity. Can accommodate more players
than beer-pong.</p>


<h4>Teams</h4>
<p>Teams consist of the same number of players on each side. Each player has a 2-1 triangle
  set of cups in front of them.
   </p>

<h4>Playing field</h4>
<p>Best played on either a ping-pong table or a long narrow table.</p>

<h4>Supplies</h4>
<p>You will need at least 3 plastic cups per player. The more ping-pong balls, the better.</p>

<h4>Alcohol</h4>
<p>We recommend a light beer, as this game is very fast paced and the rounds tend to be short.</p>

<h2>Game Rules</h2>
<p> This game is a free for all for gathering and shooting balls. You or your team can hoard the balls in an attempt to get
  someone out right away, or shoot the ball as soon as you can snag one. The objective is to get the entire opposing team out by
sinking each opposing player's 3 cups. Anyone can aim for anyone on the opposing team's cups. Really the only established rule
is that you cannot shoot until you drink your cup if someone had sank it.</p>

<h2>Game Variations</h2>
<p> Even the only established rule turns this game into a shit show. With how fast paced it is(no turns),
  arguments are sure to occur. It's somewhat of a gray area if 2 players simultaneously sink cups. Do both cups count? Or, does
only the first one count (it would negate the other shot since they hadn't drank their cup prior.) You decide.
At the very least, before starting, announce if other beer-pong rules are being applied (such as, death cup, bouncing, fire, etc.)

<h3>Respect</h3>
<p> I think this game is best played with a little bit of respect.</p>
<ul>
  <li> Team players should stay on their side of the table and only go after balls that are at least half way on their side of the table or more.</li>
  <li> If any players shot is blocked, the blocker has to drink one of their own cups and the ball is returned to the shooter.</li>
  <li>If two cups are sank simultaneously, both count unless a ball is shot well after one had already been made on them. </li>
  </ul>

<h3>Anything goes</h3>
<p> Like it says, just pure chaos. Essentially the adult version of Easter Egg Hunting.</p>
<ul>
<li> This version can get a little rough. Players can roam anywhere to gather the ping-pong balls. Imagine a full court press on you when you're trying to shoot. Sounds fun, right?
  It actually can be if there are enough ping-pong balls so that everyone has a shot at finding some balls. If not, expect box-outs and wrestling. </li>
</ul>
