<h1>Dizzy Bat</h1>

<h2> A game that challenges your balance and ability to not get sick.</h2>

<h3>Overview</h3>
<p> Chug a beer, spin around, try to hit a beer can. Sounds easy, right? </p>


<h4>Teams</h4>
<p>Not usually played in teams, but can be. </p>

<h4>Playing field</h4>
<p> Best played outside. </p>

<h4>Supplies</h4>
<p>You will need beer(in cans) and a bat(preferably plastic.)</p>

<h4>Alcohol</h4>
<p>We recommend a light beer.</p>

<h2>Game Rules</h2>
<p>The rules are simple. A player chugs a beer, while others count off how long it take them to finish it. Upon finishing the drink,
  the player then leans over and spins around(however long it took to chug) with their forehead placed at the end of the bat. After done spinning, another person tosses up the
  beer can for the player to then try to hit with the bat. </b>

<h3>Game Variations</h3>
<h4>Teams</h4>
<p> The core rules do not change. Teams are assembled, and one player chugs, spins, and attempts to hit the can. If they are successful, it counts as a run and the next player on the team is up.
If they miss, it is an out and the next team members chance. Play continues as so for a specified amount of innings.</p>
