<h1> Edward Fortyhands</h1>
<h2> Feel the pain Eddy felt. How in control is your bladder?</h2>

<h3>Overview</h3>
<p> Duct tape a 40oz. to each hand. Can only remove them once both are consumed.</p>

<h4>Teams</h4>
<p>There are no teams.</p>

<h4>Playing field</h4>
<p>Anywhere(preferably inside..where no one can see how ridiculous you look.)</p>

<h4>Supplies</h4>
<p>Duct tape + Beer(40oz.)</p>

<h4>Alcohol</h4>
<p>Beer of choice (40oz.)</p>

<h2>Game Rules</h2>
<p> The game is simple. Each player duct tapes two 40oz. beers to each of their hands. You can't remove either of the bottles
until both of them are finished. First to finish, wins.
<ul> Side note - Anything can be attempted (going to the bathroom), so long as the bottles stay attached. Also, I'd personally recommend
going for more of a slightly chilled bottle as opposed to an ice cold one. Your hands <b>will</b> go numb.</ul>
