<h1>Flip Cup</h1>

<h2>The game that makes you look like either a <b>badass</b> or an <b>idiot</b>.</h2>

<h3>Overview</h3>
<p> The pressure is real here. Outmatch your opponent and live to drink another day. First team to successfully drink and flip
all of their cups, wins.</p>

<h4>Teams</h4>
<p>Teams (of equal numbers) stand on the opposite side a table, facing one another. The players directly facing are opponents. </p>

<h4>Playing field</h4>
<p> Can be played on any table, preferably one of moderate height.</p>

<h4>Supplies</h4>
<p> Each player will need their own plastic cup.</p>

<h4>Alcohol</h4>
<p> We recommend a light beer.</p>

<h2>Game Rules</h2>
<p> The first member of each team drinks their cup. When finished, the cup is placed open side up at the edge of the table,
  with the lip of the cup extending halfway off the table. The player who drank it attempts to flip the cup, by flicking or
  lifting the bottom of the cup until it flips and lands face down on the table. The player may not use two hands, or blow
  on the cup to guide it to flip over. If the player isn't a total badass and gets it on the first go, the cup is reset and
  they try to flip it again. Only after the first teammate lands the cup properly can the next person on their team proceed with drinking their cups.</p>

<h2>To start</h2>
<p>The agreed upon captains of each team will be the first to battle. It is customary to cheers (down,up,down) before starting to drink. </p>

<h3> Game Variations </h3>
<h4>Around the Horn</h4>
<p>Make the game longer by going down and back. That is, each player has two cups to flip, but only drinks and flips one
until it reaches the anchor (last player to flip) where this player does their two cups back to back before coming back down the line - now ending the game with the captains.</p>
