<h1> Horserace</h1>
<h2> A card game for the gamblers out there.</h2>

<%= image_tag "horserace.jpg", :class => "horsie" %>

<h3>Overview</h3>
<p> Bet on your favoirte horse with drinks.</p>

<h4>Teams</h4>
<p>There are no teams.</p>

<h4>Playing field</h4>
<p>Best played on a table.</p>

<h4>Supplies</h4>
<p>Cards.</p>

<h4>Alcohol</h4>
<p>Beer/Alcohol.</p>

<h2>Game Rules</h2>
<p> The game only requires one active player - the announcer(or dealer.) The announcer starts by removing all of the
  aces(horses)
  out of the deck and places them face up, side by side at the end of the table("the gates".) The announcer then
  shuffles the
  deck and lays out however many cards face down("the links") in a straight line perpendicular to the row of aces. The
  field should form
  an "L" when set.
</p>
<h3>Betting</h3>
<p>Before the game starts, each player bets on a horse. For instance, "5 on Diamonds" represents the number of drinks
  you bet. Safeguards
  are usually put in place so that there is a maximum bet amount.</p>
<ul>Note - Bets can get as complex as any actual horse race like trifectas, exactas, etc.</ul>

<h3>Penalties</h3>
<p> If a bettor's horse never leaves the gate, that player drinks double what they bet. </p>

<h3>To start</h3>
<p> After all bets are in, the announcer begins the race. The announcer flips over the first card of the remaining deck
  not used
  while setting the field. Only the suit of the card comes in to play here; the ace(horse) of that suit moves forward
  one link. The announcer continues flipping these cards
  until a horse passes the last link. When a winner is crowned, the bettor(s) can dish out the amount they bet to the
  other players.</p>

<h3>Game Variations</h3>

<h4>Basic</h4>
<p> In the basic version, the players select their favorite horse to win without betting. The payout is set at 20 drinks
  for first place, 15 for second place
  and 10 for third place.</p>
<ul>
  <li>You cannot make a bettor who finished the same or higher than you drink.</li>
  <li> This version is best played with a high number of players.</li>
  </ul>

  <h4>Falter</h4>
<p> In this variation, each time a horse moves up to a new link for the first time(and only the first time), the announcer
  flips over the card on the side of that link. The suit shown on the sideboard card must move back one space(falter). For
  example, in a 10-link Horserace, there are ten instances of faltering that can totally change the outcome of the game.
  As a rule, any horse in the gates can not be knocked back any further by faltering.

</p>

<h4>Stumble</h4>
<p> This variation can be stacked/played with other variations. Any time a designated wildcard(such as a joker) is flipped over, every horse except the leading horse
move forward one link.</p>
