<h1> Never Have I Ever</h1>
<h2> A social, <b>very</b> revealing drinking game.</h2>

<h3>Overview</h3>
<p> Fun, easy to play and understand.</p>

<h4>Teams</h4>
<p>There are no teams.</p>

<h4>Playing field</h4>
<p>Anywhere.</p>

<h4>Supplies</h4>
<p>None.</p>

<h4>Alcohol</h4>
<p>Beer/Alcohol</p>

<h2>Game Rules</h2>
<p> Players gather in a circle with each holding up their 10 fingers. The first player then says "Never have I ever" followed
  by something they <b>haven't</b> done. If after this statement someone in the group <b>has</b> done it, they drink and lower one of
their fingers. Play continues clockwise with each new person declaring a "Never have I ever" statement until one player remains.


<h3>Game Variations</h3>
<h4>Punish</h4>
<p> This variation makes the game more strategy oriented. If when a player makes a "Never have I ever" statement, and no one else has done it,
that player either takes a drink, lowers a finger, or both.
<li>Another addition to this variation is to make any statement fair game, even if the player had done it.</li>
<li> Given that any question is fair game, if you make a statement that you know another player has done and they don't lower their finger, an explanation and a shot are owed.</li>
