<h1> Polish Frisbee</h1>
<h2> One of the best backyard drinking games.</h2>

<h3>Overview</h3>
<p> Take turns tossing a frisbee at a glass bottle and catching. Quick reactions are key.</p>

<h4>Teams</h4>
<p>There are two teams consisting of two people/team.</p>

<h4>Playing field</h4>
<p>Anywhere outside you can comfortably toss a frisbee.</p>

<h4>Supplies</h4>
<p>Two stakes, two glass bottles and a frisbee.</p>

<h4>Alcohol</h4>
<p>Beer</p>

<h2>Game Rules</h2>
<p> The game usually starts with a game of rock-paper-scissors to see which team will toss the frisbee first.


<h3>Game Variations</h3>
<h4>Punish</h4>
<p> This variation makes the game more strategy oriented. If when a player makes a "Never have I ever" statement, and no one else has done it,
  that player either takes a drink, lowers a finger, or both.
<li>Another addition to this variation is to make any statement fair game, even if the player had done it.</li>
<li> Given that any question is fair game, if you make a statement that you know another player has done and they don't lower their finger, an explanation and a shot are owed.</li>
