<h1> Powerhour</h1>
<h2> A long, but effective and fun game.</h2>

<h3>Overview</h3>
<p> Drink a shot of beer every minute for an hour.</p>

<h4>Teams</h4>
<p>There are no teams.</p>

<h4>Playing field</h4>
<p>Anywhere you can comfortably sit.</p>

<h4>Supplies</h4>
<p>Shot Glasses.</p>

<h4>Alcohol</h4>
<p> We recommend light beer, or else you will get way too full.</p>

<h2>Game Rules</h2>
<p> The rules are simple. Each player drinks a shot of beer every minute for an hour. This is normally played to a playlist of
  1 minute sections of songs to signify a new drinking event. Head over to powerhourzone.com for some pre-made playlists.
  If you can finish the hour, this equates to roughly 8 beers.
</p>

<h3>Game variations</h3>
<h4>Centurion/Century Club</h4>
<p> Join the club if you can <b>power</b> through the power hour. Continue drinking a shot of beer every minute until you get to 100 minutes(roughly 13-14 beers.) While very much doable, it's very easy to get full while attempting this. </p>



