<h1> Ride the Bus</h1>
<h2> Or don't...</h2>

<h3>Overview</h3>
<p> The aim is to have the fewest cards at the end of the round.</p>

<h4>Teams</h4>
<p>There are no teams.</p>

<h4>Playing field</h4>
<p>Anywhere you can comfortably sit.</p>

<h4>Supplies</h4>
<p>Cards.</p>

<h4>Alcohol</h4>
<p>Beer/Alcohol.</p>

<h2>Setup</h2>
<p> The first part of the game is for the dealer to setup the cards, called the bus. This can be done in two ways:
</p>

<h4> Diamond</h4>
<p>This setup requires 9 cards, placed in a diamond pattern(face down) of 1-2-3-2-1 cards, so that the start and end of the bus are shorter
than the center. If 8 people are playing, an extra row must be set.</p>

<h4>Triangle</h4>
<p> This setup requires 10 cards that are arranged in a triangle pattern(face down) of 1-2-3-4 cards, with the first card facing the dealer.</p>

<h2> Game rules</h2>
<p> The dealer deals out 4 cards to each player starting to the left. The remaining cards are put to the side(they will be used later on.)
  The dealer then turns a card in the furthest row of the Bus. All players with a card with the same face value may choose
  to play as many as they have and then discard the played cards. If a player has a playable card, they nominate any other player(s)
  to take a drink. If the card turned over was from the bottom row (4 cards), the player with a playable card can nominate
  another player to take one drink. Each successive row increases the amount of drinks the nominated player(s) can be forced
  to take.
</p>

<h3>Game variations</h3>
<h4>Mini-game for loser</h4>
<p> This variation involves a special deal(from the side cards) to the person who had the most remaining cards from the main game.
  This player will drink for every guess they get wrong.
</p>
<ul> The stipulations and cards dealt are as follows:
<li>First card - The player must guess the color of the card(black or red.)</li>
<li>Second card - The player must guess the suit of the card (spades, hearts, diamonds, clubs.)</li>
<li>Third card - The player must guess if the card is higher, lower, or in-between the two previous cards.</li>
<li>Fourth card - The player must guess if the card is black or red.</li></ul>


