<h1> Speed Quarters</h1>
<h2> Similar to Quarters, but better.</h2>

<h3>Overview</h3>
<p> Fun, easy to play and understand.</p>

<h4>Teams</h4>
<p>There are no teams. 6 or more players(even numbered) needed.</p>

<h4>Playing field</h4>
<p>Anywhere you can bounce a quarter into a shot glass.</p>

<h4>Supplies</h4>
<p>Shot glasses & quarters.</p>

<h4>Alcohol</h4>
<p>Beer/Alcohol</p>

<h2>Game Rules</h2>
<p> Players gather in a circle with two empty shot glasses placed opposite of two of the players. The game starts with these
two players picking up quarters and attempting to bounce them into their shot glass. If unsuccessful, these players continue to
try to get the quarter in as quickly as possible. Upon getting the quarter in the shot glass, the glass is then passed to the player
to the left of them. Eventually, one glass will catch up to the other glass. When this happens, the player still shooting
overturns a shot glass and places the other on top of it. This player now has 2 chances to make it in. If they make it their
first attempt, they can pass the stacked shot glasses to any other player, where now they get 2 chances(so on and so forth.)
If the player makes it on their second chance, one glass is passed to the left and the other given to the player opposite them(essentially restarting
the game.) If the player is unsuccessful on both attempts, they must either take a shot, or another player spins a quarter and the person must chug a beer
for the duration of the spin. The game resets after this.


