<h1> Three Man</h1>
<h2> A popular dice game.</h2>

<h3>Overview</h3>
<p> A game of moderate drinking best played with 3-5 players.</p>

<h4>Teams</h4>
<p>There are no teams.</p>

<h4>Playing field</h4>
<p>Anywhere you can comfortably roll die.</p>

<h4>Supplies</h4>
<p>Dice(2)</p>

<h4>Alcohol</h4>
<p>Beer of choice.</p>

<h2>Game Rules</h2>
<p> One player is selected as the first "three man." This player will remain as the "three man" until someone else rolls
  a 1-2, 2-1, or 3-(any). The first player to roll any of these becomes the next "three man." </p>

<h2> To start</h2>
<p> The "three man" rolls the dice, and drinks are dispersed according to the amount that is rolled. If no drinks are
  dispensed,
  the turn ends and the dice are passed to the next player.</p>

<h3> Roll results</h3>
<ul>
  <b>Snake eyes (1-1)</b>
  <li>Create a rule. For example, players can only drink with their less dominant hand. The rule persists throughout the game
  and players who break it must drink.</li>
</ul>

<ul>
  <b>Any double (2-2,3-3,4-4,etc)</b>
  <li> Give the total amount in drinks to any player(s).</li>
</ul>

<ul>
  <b>Any 3 (1-2, 2-1 or 3-(any))</b>
  <li> The "three man" drinks, but the roller either becomes or stays the "three man." If 3-3 is rolled, the "three man" drinks
  twice.</li>
</ul>
<ul>
  <b>Any 7 (3-4, 4-3, 6-1, 1-6, 2-5, 5-2)</b>
  <li> The person to the left of the roller drinks. If a 3-4 or 4-3 are rolled, the "three man" also drinks.</li>
</ul>

<ul>
  <b>Any 9 (4-5, 5-4, 3-6, 6-3)</b>
  <li> Every person drinks. If a 3-6 or 6-3 are rolled, the three man drinks twice.</li>
</ul>

<ul>
  <b> 10 (6-4, 4-6) </b>
<li> Change direction of play.</li>
</ul>

<ul>
  <b> 11 (6-5, 5-6) </b>
  <li> Person to the right of the roller drinks.</li>
</ul>



