<h1> Thumper</h1>
<h2> You probably saw this on the movie "Beer Fest".</h2>

<h3>Overview</h3>
<p> A memory game that gets significantly more difficult as you drink.</p>

<h4>Teams</h4>
<p>There are no teams.</p>

<h4>Playing field</h4>
<p>Anywhere.</p>

<h4>Supplies</h4>
<p>None.</p>

<h4>Alcohol</h4>
<p>Beer of choice.</p>

<h2>Game Rules</h2>
<p> Each person picks a hand gesture to represent themselves. The gesture can be anything, but must be <b>short</b>. The game starts
with everyone drumming their hands on a table or floor. At this point, someone yells out <b>"What's the name of the game?"</b>
  Everyone responds <b>THUMPER!</b> The leader shouts <b>Why do we play this game?</b> Everyone responds <b>"To get FUCKED up"</b>
The game starts with the leader performing their hand gesture followed by any other player's gesture. The person who's gesture
  was used now performs theirs and another players'. This continues until someone messes up a gesture or is too slow. The violator is
  now the leader of the next round.
</p>



