<h1>Wizard Staff</h1>
<h2>Yes.. a game with Wizards</h2>

<h3>Overview</h3>
<p>The gist of this game is to become the almighty most powerful wizard in all the land by consuming copious amounts of beer.</p>

<h4>Teams</h4>
<p>There are no teams here. Every wizard for themselves.</p>

<h4>Playing field</h4>
<p>Anywhere.</p>

<h4>Supplies</h4>
<p>Duct tape.</p>

<h4>Alcohol</h4>
<p>Beer (in cans) - hard liquor for variations.</p>

<h2>Game Rules</h2>
<p> Each person plays individually in an attempt to consume more beer than their opponents. As a player drinks, their current
can of beer is duct taped to the top of their previous can before being consumed. As the staff gets taller, the task of
  drinking becomes increasingly difficult. To reach wizard status, the player must consume enough beers so that their staff
is taller than their height. The person at the end of the night with the tallest staff becomes the wisest wizard.</p>

<h3>Game variations</h3>
<h4>Boss Battles</h4>
<p> This variation involves hard liquor, where the player must fight a boss (take a shot) after reaching certain levels (usually every
five beers.) Ideally you want several different types of liquor to face different bosses- bosses being represented by those type of liquor.
</p>

<h4> Battle Wizards</h4>
<p> This version involves physicality. After reaching wizard status, the players attempt to break the others wizards staff in a duel. The victor
becomes the wisest wizard.</p>
